*{
    background-color: hsl(203, 92%, 75%);
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.QuoteOutput{
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    color: #000000;
    border: 6px solid #000000;
    background-color: white;
    margin-left: 38%;
    font-size: 25px;
}
Button{
    cursor: pointer;
    margin-left: 48%;
    margin-top: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    background-color:hsl(208, 100%, 97%) ;
    color: #000000;
    border-radius: 6px;
    box-shadow: 20px;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    box-shadow: 60px solid #000000;
    font-size: 16px;
  font-weight: 800;

}
.QuoteOutput>h1{
    background-color: gray;
    margin-left: 40px;
    color: #000000; 
}








